<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.iai.proteus.application"
         name="Proteus"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.iai.proteus.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.iai.proteus.ui.DiscoverPerspective"
            icon="icons/fugue/icons-24/looking_glass.png"
            id="com.iai.proteus.ui.perspective.discover"
            name="Discover">
      </perspective>
      <perspective
            class="com.iai.proteus.ui.AlertPerspective"
            icon="icons/fugue/icons-24/megaphone.png"
            id="com.iai.proteus.ui.perspective.alert"
            name="Alerts">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.iai.proteus.views.category.proteus"
            name="Protues">
      </category>
      <category
            id="com.iai.proteus.views.category.proteus.extra"
            name="Protues (Dev)">
      </category>
      <view
            name="Progress View"
            icon="icons/pview.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
      <view
            allowMultiple="false"
            category="com.iai.proteus.views.category.proteus"
            class="com.iai.proteus.views.WorldWindView"
            icon="icons/fugue/globe.png"
            id="com.iai.proteus.view.WorldWindView"
            name="Map"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.iai.proteus.views.category.proteus"
            class="com.iai.proteus.views.DataPreviewView"
            icon="icons/fugue/chart.png"
            id="com.iai.proteus.chart.DataPreviewView"
            name="Preview">
      </view>
      <view
            category="com.iai.proteus.views.category.proteus"
            class="com.iai.proteus.views.DataTableView"
            icon="icons/fugue/table.png"
            id="com.iai.proteus.views.DataTableView"
            name="Table Data">
      </view>
      <view
            allowMultiple="false"
            category="com.iai.proteus.views.category.proteus"
            class="com.iai.proteus.views.DiscoverView"
            icon="icons/fugue/application-search-result.png"
            id="com.iai.proteus.views.DiscoverView"
            name="Discover"
            restorable="true">
      </view>
      <view
            class="com.iai.proteus.views.CommunityHubGroupsView"
            id="com.iai.proteus.views.communityhub.GroupsView"
            name="Community Groups">
      </view>
      <view
            class="com.iai.proteus.views.CommunityHubAlertsView"
            icon="icons/fugue/megaphone.png"
            id="com.iai.proteus.views.communityhub.AlertsView"
            name="Alerts">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.iai.proteus.command.HelpHandler"
            id="com.iai.proteus.command.Help"
            name="Command Help">
            <commandParameter id="url" name="A URL" optional="false"/>
      </command>
      <!--
      <command
            defaultHandler="com.iai.proteus.discovery.command.RefreshDiscoveryCapabilities"
            id="com.iai.proteus.discovery.command.RefreshCapabilities"
            name="Download Discovery Capabilities documents">
      </command>
      <command
            defaultHandler="com.iai.proteus.discovery.command.RestoreDiscoveryCapabilities"
            id="com.iai.proteus.discovery.command.RestoreCapabilities"
            name="Restore Discovery Capabilities documents">
      </command>
      -->
      <command
            defaultHandler="com.iai.proteus.command.ToggleMapLayerHandler"
            id="com.iai.proteus.map.layer.toggle"
            name="Toggle Map Layer">
         <commandParameter
               id="com.iai.proteus.map.layer.name"
               name="layer"
               optional="true">
         </commandParameter>
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="com.iai.proteus.command.ManageServicesHandler"
            id="com.iai.proteus.services.manage"
            name="Manage services">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
            id="file"
            label="File">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
            <separator
                  name="com.iai.proteus.menu.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  mnemonic="Q"
                  style="push"
                  tooltip="Exit Application">
            </command>
         </menu>
         <menu
            id="views"
            label="Views">
            <command
                commandId="org.eclipse.ui.views.showView"
                label="Show log view"
                style="push">
                <parameter
                    name="org.eclipse.ui.views.showView.viewId"
                    value="org.eclipse.pde.runtime.LogView">
                </parameter>
            </command>
            <command
                commandId="org.eclipse.ui.views.showView"
                label="Show progress view"
                style="push">
                <parameter
                    name="org.eclipse.ui.views.showView.viewId"
                    value=" org.eclipse.ui.views.ProgressView">
                </parameter>
            </command>
            <separator
                  name="com.iai.proteus.menu.views.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show Views..."
                  style="push">
            </command>
         </menu>
         <menu
               id="services"
               label="Services">
            <command
                  commandId="com.iai.proteus.services.manage"
                  label="Manage services..."
                  style="push">
            </command>
         </menu>
         <menu
               id="map"
               label="Map">
            <command
                  commandId="com.iai.proteus.map.layer.toggle"
                  label="Atmosphere"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="Atmosphere">
               </parameter>
            </command>
            <command
                  commandId="com.iai.proteus.map.layer.toggle"
                  label="Blue Marble"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="NASA Blue Marble Image, Blue Marble (WMS) 2004">
               </parameter>
            </command>
            <command
                  commandId="com.iai.proteus.map.layer.toggle"
                  label="Compass"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="Compass">
               </parameter>
            </command>
            <command
                  commandId="com.iai.proteus.map.layer.toggle"
                  label="Place Names"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="Place Names">
               </parameter>
            </command>
            <command
                  commandId="com.iai.proteus.map.layer.toggle"
                  label="Scale bar"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="Scale bar">
               </parameter>
            </command>
            <command
                  commandId="com.iai.proteus.map.layer.toggle"
                  label="Stars"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="Stars">
               </parameter>
            </command>
            <command
                  commandId="com.iai.proteus.map.layer.toggle"
                  label="World Map"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="World Map">
               </parameter>
            </command>
         </menu>
         <menu
            id="help"
            label="Help">
            <command
                commandId="com.iai.proteus.command.Help"
                label="Proteus Wiki"
                style="push">
                <parameter
                    name="url"
                    value="http://www.i-a-i.com/wiki/index.php?title=Proteus">
                </parameter>
            </command>
            <command
                commandId="com.iai.proteus.command.Help"
                label="Proteus FAQ"
                style="push">
                <parameter
                    name="url"
                    value="http://www.i-a-i.com/wiki/index.php?title=Proteus_(FAQ)">
                </parameter>
            </command>
            <command
                commandId="com.iai.proteus.command.Help"
                label="Getting Started"
                style="push">
                <parameter
                    name="url"
                    value="http://www.i-a-i.com/wiki/index.php?title=Proteus_(Getting_started)">
                </parameter>
            </command>
            <command
                commandId="com.iai.proteus.command.Help"
                label="Release Notes"
                style="push">
                <parameter
                    name="url"
                    value="http://www.i-a-i.com/wiki/index.php?title=Proteus_(Release_notes)">
                </parameter>
            </command>
            <separator
                  name="com.iai.proteus.separator1"
                  visible="true">
            </separator>
            <command
                commandId="org.eclipse.ui.help.aboutAction"
                label="About"
                style="push">
            </command>
         </menu>
         <!--
         <menu
               id="menuWindow"
               label="Window">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show Views..."
                  style="push">
            </command>
            <command
                  commandId="com.iai.proteus.command.Search"
                  label="Search"
                  style="push">
            </command>
         </menu>
         -->
      </menuContribution>
      <!--
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="menuHelp"
               label="Help">
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  id="org.eclipse.equinox.p2.ui.sdk.update"
                  label="Check for Updates"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.install"
                  id="org.eclipse.equinox.p2.ui.sdk.install"
                  label="Install New Software..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.iai.proteus.preference.PrefPageMain"
            id="com.iai.proteus.preferences.main"
            name="Proteus">
      </page>
      <page
            category="com.iai.proteus.preferences.main"
            class="com.iai.proteus.preference.PrefPageCommunityHub"
            id="com.iai.proteus.preferences.community_hub.page"
            name="Community Hub">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.iai.proteus.activity"
            name="Proteus">
      </activity>
      <activityPatternBinding
            activityId="com.iai.proteus.activity"
            pattern="org.eclipse.search.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.iai.proteus.activity"
            pattern="org.eclipse.ui.externaltools.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.iai.proteus.activity"
            pattern="org.eclipse.equinox.p2.ui.sdk.*">
      </activityPatternBinding>
   </extension>

   <extension
        id="product"
        point="org.eclipse.core.runtime.products">
      <product
            application="com.iai.proteus.application"
            description="A tool for managing sensor data"
            name="Proteus">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/proteus64.png">
         </property>
         <property
               name="appName"
               value="Proteus">
         </property>
         <property
               name="aboutText"
               value="Sensor Discovery Client&#x0A;&#x0A;Version 1.2.0.beta&#x0A;&#x0A;Acknowledgments&#x0A;--&#x0A;Using Yusuke Kamiyamane's Fugue icon set under&#x0A;Creative Commons Attribution 3.0 License.&#x0A;http://p.yusukekamiyamane.com/&#x0A;&#x0A;Developed under NASA funding.">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.iai.proteus.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            platform="macosx"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Q">
      </key>
   </extension>

   <!--
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.iai.proteus.application"
            name="Sensor Management">
         <property
               name="windowImages"
               value="icons/sine-48.png">
         </property>
         <property
               name="appName"
               value="Sensor Management">
         </property>
      </product>
   </extension>
   -->

</plugin>
