<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.iai.proteus.application"
         name="Proteus"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.iai.proteus.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.iai.proteus.ui.DiscoverPerspective"
            icon="icons/fugue/magnifier.png"
            id="com.iai.proteus.ui.perspective.discover"
            name="Discover">
      </perspective>
      <perspective
            class="com.iai.proteus.ui.AlertPerspective"
            icon="icons/fugue/megaphone.png"
            id="com.iai.proteus.ui.perspective.alert"
            name="Alerts">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.iai.proteus.views.category.proteus"
            name="Protues">
      </category>
      <category
            id="com.iai.proteus.views.category.proteus.extra"
            name="Protues (Dev)">
      </category>
      <view
            name="Progress View"
            icon="icons/pview.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
      <view
            allowMultiple="false"
            category="com.iai.proteus.views.category.proteus"
            class="com.iai.proteus.views.WorldWindView"
            icon="icons/fugue/globe.png"
            id="com.iai.proteus.view.WorldWindView"
            name="Map"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.iai.proteus.views.category.proteus"
            class="com.iai.proteus.views.DataPreviewView"
            icon="icons/fugue/chart.png"
            id="com.iai.proteus.chart.DataPreviewView"
            name="Preview">
      </view>
      <view
            category="com.iai.proteus.views.category.proteus"
            class="com.iai.proteus.views.DataTableView"
            icon="icons/fugue/table.png"
            id="com.iai.proteus.views.DataTableView"
            name="Table Data">
      </view>
      <view
            allowMultiple="false"
            category="com.iai.proteus.views.category.proteus"
            class="com.iai.proteus.views.DiscoverView"
            icon="icons/fugue/application-search-result.png"
            id="com.iai.proteus.views.DiscoverView"
            name="Discover"
            restorable="true">
      </view>
      <view
            class="com.iai.proteus.views.CommunityHubGroupsView"
            id="com.iai.proteus.views.communityhub.GroupsView"
            name="Community Groups">
      </view>
      <view
            class="com.iai.proteus.views.CommunityHubAlertsView"
            icon="icons/fugue/megaphone.png"
            id="com.iai.proteus.views.communityhub.AlertsView"
            name="Alerts">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.iai.proteus.command.HelpHandler"
            id="com.iai.proteus.command.help"
            name="Command Help">
            <commandParameter id="url" name="A URL" optional="false"/>
      </command>
      <!--
      <command
            defaultHandler="com.iai.proteus.discovery.command.RefreshDiscoveryCapabilities"
            id="com.iai.proteus.discovery.command.RefreshCapabilities"
            name="Download Discovery Capabilities documents">
      </command>
      <command
            defaultHandler="com.iai.proteus.discovery.command.RestoreDiscoveryCapabilities"
            id="com.iai.proteus.discovery.command.RestoreCapabilities"
            name="Restore Discovery Capabilities documents">
      </command>
      -->
      <command
            defaultHandler="com.iai.proteus.command.ToggleMapLayerHandler"
            id="com.iai.proteus.command.map.layer.toggle"
            name="Toggle Map Layer">
         <commandParameter
               id="com.iai.proteus.map.layer.name"
               name="layer"
               optional="true">
         </commandParameter>
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="com.iai.proteus.command.ManageServicesHandler"
            id="com.iai.proteus.command.services.manage"
            name="Manage services">
      </command>
      <command
            defaultHandler="com.iai.proteus.command.NewQuerySetHandler"
            id="com.iai.proteus.command.queryset.new"
            name="New Query Set">
      </command>
      <command
            defaultHandler="com.iai.proteus.command.CloseQuerySetHandler"
            id="com.iai.proteus.command.queryset.close"
            name="Close Query Set">
      </command>
      <command
            defaultHandler="com.iai.proteus.command.OpenQuerySetHandler"
            id="com.iai.proteus.command.queryset.open"
            name="Open Query Set">
      </command>
      <command
            defaultHandler="com.iai.proteus.command.RenameQuerySetHandler"
            id="com.iai.proteus.command.queryset.rename"
            name="Rename Query Set">
      </command>
      <command
            defaultHandler="com.iai.proteus.command.SaveQuerySetHandler"
            id="com.iai.proteus.command.queryset.save"
            name="Save Query Set">
      </command>
      <command
            defaultHandler="com.iai.proteus.command.DeleteQuerySetHandler"
            id="com.iai.proteus.command.queryset.delete"
            name="Delete Query Set">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
            id="menu.file"
            label="File">
            <command
                  commandId="com.iai.proteus.command.queryset.new"
                  label="New Query Set"
                  mnemonic="N"
                  style="push"
                  tooltip="Create a new Query Set">
            </command>
            <command
                  commandId="com.iai.proteus.command.queryset.open"
                  label="Open Query Set..."
                  mnemonic="O"
                  style="push"
                  tooltip="Open a Query Set">
            </command>
            <command
                  commandId="com.iai.proteus.command.queryset.close"
                  label="Close Query Set"
                  mnemonic="C"
                  style="push"
                  tooltip="Close the active Query Set">
            </command>
            <separator
                  name="com.iai.proteus.menu.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="com.iai.proteus.command.queryset.save"
                  label="Save Query Set"
                  mnemonic="S"
                  style="push"
                  tooltip="Save the active Query Set">
            </command>
            <command
                  commandId="com.iai.proteus.command.queryset.rename"
                  label="Rename Query Set..."
                  mnemonic="R"
                  style="push"
                  tooltip="Rename the active Query Set">
            </command>
            <separator
                  name="com.iai.proteus.separator5">
            </separator>
            <command
                  commandId="com.iai.proteus.command.queryset.delete"
                  label="Delete Query Set"
                  mnemonic="D"
                  style="push"
                  tooltip="Delete the active Query Set">
            </command>
         </menu>
         <menu
            id="menu.views"
            label="View">
            <command
                commandId="org.eclipse.ui.views.showView"
                label="Show log view"
                style="push">
                <parameter
                    name="org.eclipse.ui.views.showView.viewId"
                    value="org.eclipse.pde.runtime.LogView">
                </parameter>
            </command>
            <command
                commandId="org.eclipse.ui.views.showView"
                label="Show progress view"
                style="push">
                <parameter
                    name="org.eclipse.ui.views.showView.viewId"
                    value=" org.eclipse.ui.views.ProgressView">
                </parameter>
            </command>
            <!--
            <separator
                  name="com.iai.proteus.menu.views.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show Views..."
                  style="push">
            </command>
            -->
         </menu>
         <menu
               id="menu.service"
               label="Service">
            <command
                  commandId="com.iai.proteus.command.services.manage"
                  label="Manage services..."
                  style="push">
            </command>
         </menu>
         <menu
               id="menu.perspective"
               label="Perspective">
            <dynamic
                  class="com.iai.proteus.ui.PerspectiveSwitcherMenu"
                  id="com.iai.proteus.menu.perspectives.dynamic">
            </dynamic>
         </menu>
         <menu
               id="menu.map"
               label="Map">
            <command
                  commandId="com.iai.proteus.command.map.layer.toggle"
                  label="Atmosphere"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="Atmosphere">
               </parameter>
            </command>
            <command
                  commandId="com.iai.proteus.command.map.layer.toggle"
                  label="Blue Marble"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="NASA Blue Marble Image, Blue Marble (WMS) 2004">
               </parameter>
            </command>
            <command
                  commandId="com.iai.proteus.command.map.layer.toggle"
                  label="Compass"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="Compass">
               </parameter>
            </command>
            <command
                  commandId="com.iai.proteus.command.map.layer.toggle"
                  label="Place Names"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="Place Names">
               </parameter>
            </command>
            <command
                  commandId="com.iai.proteus.command.map.layer.toggle"
                  label="Scale bar"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="Scale bar">
               </parameter>
            </command>
            <command
                  commandId="com.iai.proteus.command.map.layer.toggle"
                  label="Stars"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="Stars">
               </parameter>
            </command>
            <command
                  commandId="com.iai.proteus.command.map.layer.toggle"
                  label="World Map"
                  style="toggle">
               <parameter
                     name="com.iai.proteus.map.layer.name"
                     value="World Map">
               </parameter>
            </command>
         </menu>
         <menu
            id="menu.help"
            label="Help">
            <command
                commandId="com.iai.proteus.command.help"
                label="Getting Started"
                style="push">
                <parameter
                    name="url"
                    value="https://github.com/intelligentautomation/proteus/blob/master/README.md#getting-started">
                </parameter>
            </command>
            <command
                commandId="com.iai.proteus.command.help"
                label="Proteus FAQ"
                style="push">
                <parameter
                    name="url"
                    value="https://github.com/intelligentautomation/proteus/blob/master/README.md#faq">
                </parameter>
            </command>
            <command
                commandId="com.iai.proteus.command.help"
                label="Release Notes"
                style="push">
                <parameter
                    name="url"
                    value="https://github.com/intelligentautomation/proteus/blob/master/CHANGELOG.md">
                </parameter>
            </command>
         </menu>
         <!--
         <menu
               id="menuWindow"
               label="Window">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show Views..."
                  style="push">
            </command>
            <command
                  commandId="com.iai.proteus.command.Search"
                  label="Search"
                  style="push">
            </command>
         </menu>
         -->
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.iai.proteus.toolbar.perspective"
               label="Perspective Toolbar">
            <dynamic
                  class="com.iai.proteus.ui.PerspectiveSwitcherToolbar"
                  id="com.iai.proteus.toolbar.perspectives.dynamic">
            </dynamic>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.iai.proteus.toolbar.discover"
               label="Query Set Toolbar">
            <command
                  commandId="com.iai.proteus.command.queryset.new"
                  icon="icons/fugue/document--plus.png"
                  label="New"
                  mnemonic="N"
                  style="push"
                  tooltip="Create a new Query Set">
            </command>
            <command
                  commandId="com.iai.proteus.command.queryset.open"
                  icon="icons/fugue/folder-open-document-text.png"
                  label="Open"
                  mnemonic="O"
                  style="push"
                  tooltip="Open a Query Set">
            </command>
            <command
                  commandId="com.iai.proteus.command.queryset.close"
                  icon="icons/fugue/folder.png"
                  label="Close"
                  mnemonic="C"
                  style="push"
                  tooltip="Close the active Query Set">
            </command>
            <command
                  commandId="com.iai.proteus.command.queryset.save"
                  icon="icons/fugue/disk-black.png"
                  label="Save"
                  mnemonic="S"
                  style="push"
                  tooltip="Save the active Query Set">
            </command>
            <command
                  commandId="com.iai.proteus.command.queryset.delete"
                  icon="icons/fugue/cross-button.png"
                  label="Delete"
                  mnemonic="D"
                  style="push"
                  tooltip="Delete the active Query Set">
            </command>
         </toolbar>
      </menuContribution>
      <!--
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="menuHelp"
               label="Help">
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  id="org.eclipse.equinox.p2.ui.sdk.update"
                  label="Check for Updates"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.install"
                  id="org.eclipse.equinox.p2.ui.sdk.install"
                  label="Install New Software..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.iai.proteus.preference.PrefPageMain"
            id="com.iai.proteus.preferences.main"
            name="Proteus">
      </page>
      <page
            category="com.iai.proteus.preferences.main"
            class="com.iai.proteus.preference.PrefPageCommunityHub"
            id="com.iai.proteus.preferences.community_hub.page"
            name="Community Hub">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.iai.proteus.activity"
            name="Proteus">
      </activity>
      <activityPatternBinding
            activityId="com.iai.proteus.activity"
            pattern="org.eclipse.search.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.iai.proteus.activity"
            pattern="org.eclipse.ui.externaltools.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.iai.proteus.activity"
            pattern="org.eclipse.equinox.p2.ui.sdk.*">
      </activityPatternBinding>
   </extension>

   <extension
        id="product"
        point="org.eclipse.core.runtime.products">
      <product
            application="com.iai.proteus.application"
            description="A tool for managing sensor data"
            name="Proteus">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/proteus64.png">
         </property>
         <property
               name="appName"
               value="Proteus">
         </property>
         <property
               name="aboutText"
               value="Sensor Discovery Client&#x0A;&#x0A;Version 1.2.0&#x0A;&#x0A;Acknowledgments&#x0A;--&#x0A;Using Yusuke Kamiyamane's Fugue icon set under&#x0A;Creative Commons Attribution 3.0 License.&#x0A;http://p.yusukekamiyamane.com/&#x0A;&#x0A;Developed under NASA funding.">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.iai.proteus.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="com.iai.proteus.proteusAcceleratorConfiguration"
            name="Proteus Binding Scheme">
      </scheme>
      <key
            commandId="com.iai.proteus.command.queryset.new"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.iai.proteus.proteusAcceleratorConfiguration"
            sequence="M1+N">
      </key>
      <key
            commandId="com.iai.proteus.command.queryset.open"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.iai.proteus.proteusAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="com.iai.proteus.command.queryset.save"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.iai.proteus.proteusAcceleratorConfiguration"
            sequence="M1+S">
      </key>
      <key
            commandId="com.iai.proteus.command.queryset.close"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.iai.proteus.proteusAcceleratorConfiguration"
            sequence="M1+W">
      </key>
      <key
            commandId="com.iai.proteus.command.queryset.rename"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.iai.proteus.proteusAcceleratorConfiguration"
            sequence="M1+R">
      </key>
      <key
            commandId="com.iai.proteus.command.queryset.delete"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.iai.proteus.proteusAcceleratorConfiguration"
            sequence="M1+D">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.iai.proteus.ui.queryset.QuerySetOpenState">
         <variable
               name="com.iai.proteus.sourceprovider.queryset.open"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.iai.proteus.command.CloseQuerySetHandler"
            commandId="com.iai.proteus.command.queryset.close">
         <activeWhen>
            <with
                  variable="com.iai.proteus.sourceprovider.queryset.open">
               <equals
                     value="DISABLED">
               </equals>
            </with></activeWhen>
      </handler>
      <handler
            class="com.iai.proteus.command.SaveQuerySetHandler"
            commandId="com.iai.proteus.command.queryset.save">
         <activeWhen>
            <with
                  variable="com.iai.proteus.sourceprovider.queryset.open">
               <equals
                     value="DISABLED">
               </equals>
            </with></activeWhen>
      </handler>
      <handler
            class="com.iai.proteus.command.RenameQuerySetHandler"
            commandId="com.iai.proteus.command.queryset.rename">
         <activeWhen>
            <with
                  variable="com.iai.proteus.sourceprovider.queryset.open">
               <equals
                     value="DISABLED">
               </equals>
            </with></activeWhen>
      </handler>
      <handler
            class="com.iai.proteus.command.DeleteQuerySetHandler"
            commandId="com.iai.proteus.command.queryset.delete">
         <activeWhen>
            <with
                  variable="com.iai.proteus.sourceprovider.queryset.open">
               <equals
                     value="DISABLED">
               </equals>
            </with></activeWhen>
      </handler>
      
   </extension>

   <!--
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.iai.proteus.application"
            name="Sensor Management">
         <property
               name="windowImages"
               value="icons/sine-48.png">
         </property>
         <property
               name="appName"
               value="Sensor Management">
         </property>
      </product>
   </extension>
   -->

</plugin>
